<div class="footer">
        <i>{{INFO_APP["DERECHO_COPY"]}}</i>
    </div>
<script type="text/javascript" src="app/js/validaAddProd.js"></script>
<script type="text/javascript" src="app/js/validaDelProd.js"></script>
<script type="text/javascript" src="app/js/ajax.js"></script>
<script type="text/javascript" src="app/js/paginacion.js"></script>
<script type="text/javascript" src="app/js/searchProd.js"></script>
<script type="text/javascript" src="app/js/changeURL.js"></script>
<script type="text/javascript" src="app/js/showModals.js"></script>
<script type="text/javascript" src="app/js/mostrarAlerta.js"></script>